{% extends 'exams/layout.html'%}


{%block body%}

<h1>
    Willkommen

</h1>
<h2>{{message}}</h2>
<h2>Hello {{user.username}}</h2>
<h2>Your Id is {{user.id}}</h2>
<h2>Your email is {{user.email}}</h2>

{% for question in page_obj %}
    <form action="{% url 'profile' %}" method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>{{ question.text }}</legend>
            {% for choice in question.choice_set.all %}
                <div>
                    <input type="radio" id="choice{{ forloop.counter }}" name="question_{{ question.id }}"
                           value="{{ choice.id }}"
                           {% if request.session.question_choices and request.session.question_choices.question_question.id == choice.id %}
                               checked
                           {% endif %}
                    >
                    <label for="choice{{ forloop.counter }}">{{ forloop.counter }} - {{ choice.text }}</label>
                </div>
            {% endfor %}
        </fieldset>
        <input type="submit" value="Submit">
    </form>
    <br>
{% endfor %}








<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{%endblock%}